<a href="https://colab.research.google.com/github/metaDroidd/GithubIntro/blob/master/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [4]:
%%sql

select p.categoryname as category,
PERCENTILE_CONT(.5) within group (order by (CASE
  WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-01' THEN (s.quantity * s.netprice * s.exchangerate)
  END )) as y2022_mediansales
from
  sales s
  left join product p on s.productkey = p.productkey
group by
  p.categoryname
order by
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_mediansales
0                          Audio             256.51
1        Cameras and camcorders              656.00
2                    Cell phones             421.40
3                      Computers             823.46
4                 Games and Toys              33.98
5                Home Appliances             789.75
6  Music, Movies and Audio Books             189.27
7                   TV and Video             724.99

In [16]:
%%sql

SELECT
  orderdate,
  quantity,
  netprice,
  CASE
    WHEN quantity >=2 AND netprice >= 100 THEN 'Multiple High Value Items'
    WHEN netprice >= 100 THEN 'Single High Value Item'
    WHEN quantity >= 2 THEN 'Multiple Standard Item'
    ELSE 'Single Standard Item'
  END AS order_type
FROM
  sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice                 order_type
0  2015-01-01         1     98.97       Single Standard Item
1  2015-01-01         1    659.78     Single High Value Item
2  2015-01-01         2     54.38     Multiple Standard Item
3  2015-01-01         4    286.69  Multiple High Value Items
4  2015-01-01         7    135.75  Multiple High Value Items
5  2015-01-01         3    434.30  Multiple High Value Items
6  2015-01-01         1     58.73       Single Standard Item
7  2015-01-01         3     74.99     Multiple Standard Item
8  2015-01-01         2    113.57  Multiple High Value Items
9  2015-01-01         1    499.45     Single High Value Item

In [15]:
%%sql